.login{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 5% 30px 5%;
    color: #fff;

}
.holdlogin{
    width: 90%;
    background-color: rgb(18, 210, 210);
    
    text-align: center;
    height: 500px;
    justify-content: center;
    border: 2px solid rgb(55, 185, 185);
    
   border-radius: 10px;
   align-items: center;
    margin: 30px 5% 30px 5%;

}
.holdlogin input{
    display: block;
    width: 70%;
    height: 20px;
    margin: 10px 15% 10px 15%;
    direction: rtl;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color:rgb(55, 185, 185);
    outline: 0px;
    color: #fff;
    font-size: 15px;
}
.a{
    width: 100%;
    height: auto;
    color: #fff;
}

.holdlogin button{
    background-color: rgb(55, 185, 185);
    border: 2px solid #fff;
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    margin: 10px 15% 10px 15%;
    border-radius: 10px;
    font-size: 18px;
}