.footer{
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #ddd;
    margin: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}


body{
    margin: 0px;
    padding: 0px;
}
.header{
   background-color: #fff;
    box-shadow: 0px 0px 2px 2px #ddd;
    height: 50px;
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    direction: rtl;
    z-index: 100; /* مطمئن می‌شویم بالای همه باشد */
   font-size: 12px;
   
}
.div1{
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.div1 span{
    margin: 0px 10px;
}
.div2{
    flex: 1;
    text-align: left;
    display: flex;
 align-items: center;
 justify-content: end;
}
.vontinrer{
    padding-top: 30px;
    padding-bottom: 50px;
}
.red{
    background-color: #fff;
    
    padding: 10px;
   
}
.holdpost{
    margin: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    
}
.holdpost img{
    width: 80%;
    border-radius: 10px;
}
.imgfot1{
    width: 30px;
    height: 30px;
    text-align: center;
    /* margin: 10px; */
}
.imgfot{
    width: 20px;
    height: 20px;
    text-align: center;
    
}
.imgfot2{
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0px;
}

.divset{
    display: flex;
    align-items: center;
    /* justify-content:center ; */
    margin: 10px;
    padding: 2px;
}
.imgposting{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.divfot{
    flex: 1;
    align-content: center;
    display: flex;
    justify-content: center;

}

.formpost{
  width: 95%;
  margin: 30px 2.5% 10px 2.5%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #ddd;
  height: 500px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  border-radius: 10px;
  direction: rtl;
}
.inputpost{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    text-align: right;
    font-size: 15px;
}
.holdcreatepost{
    width: 100%;
    display: flex;
}
.inputfile{
    
    display: flex;
    width: 100%;
}
.post{
    background-color: #fff;
    height: 40px;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 2px 2px #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 15px;
}
.inputfilepost{
  
    display: flex;
}
.filespost{
    width: 100%;
    display: flex;
    
}
body{
    direction: rtl;
}
.divfot p{
    margin: 0px;
}
.divh{
   transition: ease-in-out .5s;

}
.ima{
    margin-right: 10px;
}
@media (min-width: 780px) {
 .formpost{
  width: 50%;
  margin: 30px 25% 10px 25%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #ddd;
  height: 500px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  border-radius: 10px;
  direction: rtl;
}

}
